<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-zendesk" version="1.0.0">
  <name>Cordova Zendesk Plugin</name>
  <description>Cordova plugin for integrating with Zendesk</description>

  <js-module src="www/Zendesk.js" name="Zendesk">
    <clobbers target="Zendesk" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Zendesk">
        <param name="ios-package" value="Zendesk" />
      </feature>
    </config-file>
    <header-file src="src/ios/Zendesk.h" />
    <source-file src="src/ios/Zendesk.m" />
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="ZendeskSupportSDK" spec="~> 7.0.0" />
      </pods>
    </podspec>
    <resource-file src="src/ios/help_center_article_style.css" target="help_center_article_style.css" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Zendesk">
        <param name="android-package" value="com.rarestep.zendesk.Zendesk" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="zendesk.support.guide.HelpCenterActivity"
        android:theme="@style/ZendeskCustomTheme" />
      <activity
        android:name="zendesk.support.guide.ViewArticleActivity"
        android:theme="@style/ZendeskCustomTheme" />
      <activity
        android:name="zendesk.support.requestlist.RequestListActivity"
        android:theme="@style/ZendeskCustomTheme" />
      <activity
        android:name="zendesk.support.request.RequestActivity"
        android:theme="@style/ZendeskCustomTheme" />
    </config-file>

    <source-file src="src/android/Zendesk.java" target-dir="src/com/rarestep/zendesk" />
    <resource-file src="src/android/styles.xml" target="res/values/zendesk-styles.xml" />
    <resource-file src="src/android/help_center_article_style.css" target="assets/help_center_article_style.css"/>

    <framework src="src/android/zendesk.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
